$green: #bac34e;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #f3f3f3;
$red: #ff3B30;
$new-blue: #0000ff;
$blue: #1877F2;
$light-blue: #08a0e9;
$dark-blue: #0077B5;
$brown: #caae98;
$magenta: #bd68bd;
$pink: #ff8ca0;
$yellow: #fbbc05;
$pure-blue: #24aaf4;
$gray:  #737373;
$pure-green: #008000;