.category .box-container {
    @include grid(16rem);
    padding: 4rem 0;

    .box {
        text-align: center;
        
        img {
            border: $border;
            border-radius: 5000px;
            object-fit: contain;
            height: 200px;

            &:hover {
                box-shadow: $box-shadow;
            }
        }

        h3 {
            font-size: 1.7rem;
            margin: 1rem 0;
        }

        &:hover h3 {
            color: $green;
        }
    }
}