.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 1 40rem;

        span {
            color: $green;
            font-size: 2.5rem;
        }

        h3 {
            color: $black;
            font-size: 3rem;
            padding-top: .5rem;
        }

        p {
            color: $black;
            font-size: 1.4rem;
            line-height: 2;
            padding: 1rem 0;
        }

        .span {
            font-weight: 900;
            font-size: 1.5rem;
            color: $yellow;
        }

        .btn {
            margin-top: 1.5rem;
            border-radius: 500px;
            width: 25%;
        }
    }
}
